__pycache__
test_simulation
simulation/febaTrans216
simulation/febaTrans214
logfiles/
# Pycharm Project file
.idea/workspace.xml
# Egg package
*.egg-info/
*.info
*.log
*.__*
# Sphinx Build Folder
docs/build
# Ad Hoc
temporary/
.Rproj.user
# Windows Thumbs
Thumbs.db
